<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>pas_d_ID</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link href="css/new-age.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">pas_d_ID</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#features">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
	
	<section id="chooseName" class="cta">
      <div class="cta-content">
        <div class="container">
          <form action="" id="newUser">
					<input class="form-control" type="text" id="usr" class="text" placeholder="Enter pseudo"/>
					<small class="form-text text-muted">Choose a name before choosing a room ;)</small>
					<input type="submit" id="send" class="btn btn-primary" value="newUser" class="submit" />
				  </form>
        </div>
      </div>
      <div class="overlay"></div>
    </section>

    <header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-lg-12 my-auto">
            <div>
              <h1 class="mb-5" style="text-align:center">pas_d_ID</h1>
			  <h2 class="mb-5" style="text-align:center">Le site de chat anonyme où il fait bon venir quand t'as pas d'idées.</h2>
			  <div style="height:100px;"></div>
			  <h3 class="mb-5" style="text-align:center">Sélectionnez la zone où vous souhaiteriez ouvrir un chat :</h3>
              <!--<a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Go!</a>-->
            </div>
          </div>
		  <div id="map"></div>
		  <!--<form action="" id="newRoom">
			<input type="text" id="message" class="text" />
			<input type="submit" id="send" value="newRoom" class="submit" />
		  </form>-->
        </div>
      </div>
    </header>

	
	
    <section class="features" id="features">
      <div class="container">
		  
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span><p id="roomName"> Chat Unknown</p>
                    <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span id="nbUsrs" class="glyphicon glyphicon-chevron-down">0</span>
                        </button>
                        <ul id="rooms" class="dropdown-menu slidedown">
                        </ul>
                    </div>
                </div>
                <div id="conv" class="panel-body">
                    <ul id="conversation" class="chat">
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="data" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="datasend">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    </section>

    <footer>
      <div class="container">
        <p>&copy; Your Website 2018. All Rights Reserved.</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="#">Privacy</a>
          </li>
          <li class="list-inline-item">
            <a href="#">Terms</a>
          </li>
          <li class="list-inline-item">
            <a href="#">FAQ</a>
          </li>
        </ul>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/new-age.min.js"></script>

  </body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

<script>
	//var socket = io.connect('http://localhost:3000');
	var socket = io.connect('37.59.118.164:3000');
	var myUserName;
	var mySocketId;
	
	var marker;
    var rectangle;
	var lat;
    var lng;
	socket.on('updatechat', function (username, data,h,m,color,socketId) {
	if((mySocketId === socketId) && ("SERVER" !== username)){
		$('#conversation').append('<li class="right clearfix"><span class="chat-img pull-right">'+
                            '<img src="http://placehold.it/50/' + color + '/fff&text=ME" alt="User Avatar" class="img-circle" />'+
                        '</span>'+
                            '<div class="chat-body clearfix">'+
                                '<div class="header">'+
                                    '<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>'+h+':'+m+'</small>'+
                                    '<strong class="pull-right primary-font">'+username+'</strong>'+
                                '</div>'+
                                '<p>'+
                                    data+
                                '</p>'+
                            '</div>'+
                        '</li>');
	}else if("SERVER" === username){
		$('#conversation').append('<li class="right clearfix"><span class="chat-img pull-right">'+
                            '<img src="http://placehold.it/50/cc00cc/fff&text=SERV" alt="User Avatar" class="img-circle" />'+
                        '</span>'+
                            '<div class="chat-body clearfix">'+
                                '<div class="header">'+
                                    '<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>'+h+':'+m+'</small>'+
                                    '<strong class="pull-right primary-font">'+username+'</strong>'+
                                '</div>'+
                                '<p>'+
                                    data+
                                '</p>'+
                            '</div>'+
                        '</li>');
	}else{
	$('#conversation').append('<li class="left clearfix"><span class="chat-img pull-left">' + 
                            '<img src="http://placehold.it/50/' + color + '/fff&text='+username.charAt(0).toUpperCase()+'" alt="User Avatar" class="img-circle" />' + 
                        '</span>' + 
                            '<div class="chat-body clearfix">' +
                                '<div class="header">' +
                                    '<strong class="primary-font">'+username+'</strong> <small class="pull-right text-muted">'+
                                        '<span class="glyphicon glyphicon-time"></span>'+h+':'+m+'</small>'+
                                '</div>'+
                                '<p>'+
                                    data+
                                '</p>'+
                            '</div>'+
                        '</li>');
	}
	//$('#conversation').scrollTop($('#conversation')[0].scrollHeight);
	
	var element = document.getElementById('conv');
	element.scrollTop = element.scrollHeight - element.clientHeight;
	
	});
	
	socket.on('updateRoomName', function (data) {
		$('#roomName').empty();
		$('#roomName').append("Channel name : "+data);
	});
	
	socket.on('updateUsers', function(usrs) {
		$('#rooms').empty();
		$('#nbUsrs').empty();
		var nb = 0;
		$.each(usrs, function(key, value) {
				$('#rooms').append('<div>' + value + '</div>');
				nb++;
		});
		$('#nbUsrs').append(nb);
	});
	
	socket.on('hideChooseName', function(data) {
		$('#chooseName').hide();
		mySocketId = data;
	});
	
	socket.on('roomCreation', function() {
		if(typeof marker !== "undefined"){marker.setMap(null);}
				    marker = new google.maps.Marker({
					    position: new google.maps.LatLng(lat, lng),
					    map: map,
					    icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
		});
		if(typeof rectangle !== "undefined") { rectangle.setMap(null); }
				rectangle = new google.maps.Rectangle({
                    strokeColor: '#00FF00',
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: '#00FF00',
                    fillOpacity: 0.35,
                    map: map,
                    bounds: {
                        north: Math.floor(lat*100)/100 + 0.01,
                        south: Math.floor(lat*100)/100,
                        east: Math.floor(lng*100)/100+0.01,
                        west: Math.floor(lng*100)/100
                    }
                });
		infowindow.close(map, marker);
		var d = $('#page-top');
		//window.scrollTo(0,document.body.scrollHeight);
	});
	
	// on load of page
	$(function(){
		// when the client clicks SEND
		$('#datasend').click( function() {
			var message = $('#data').val();
			$('#data').val('');
			$('#data').focus();
			// tell server to execute 'sendchat' and send along one parameter
			if(message!==""){socket.emit('sendchat', message);}
		});
		// when the client hits ENTER on their keyboard
		$('#data').keypress(function(e) {
			if(e.which == 13) {
				$(this).blur();
				$('#datasend').focus().click();
			}
		});
		
		$('#newUser').submit(function(event){
			myUserName = $('#usr').val();
			event.preventDefault();
			socket.emit('adduser', $('#usr').val());
			$('#usr').val(''); //pour éviter le flood...
			$('#usr').focus(); //pour remettre le focus
		  });
  
		  $('#newRoom').submit(function(event){
			event.preventDefault();
		socket.emit('newRoom', $('#message').val());
		$('#message').val(''); //pour éviter le flood...
		$('#message').focus(); //pour remettre le focus
		  });
	});
	var map;
	var marker;
	var infowindow;
    function initMap() {
        // Create a map object and specify the DOM element for display.
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 47.480496, lng: -0.592118},
            zoom: 8,
	        gestureHandling: 'greedy'
        });
		
	    infowindow = new google.maps.InfoWindow({
            content: "Cliquez pour entrer dans le channel de cette zone"
        });
				
		google.maps.event.addListener(map,'click', function (event) {
            mapWork(event);
        });

		function mapWork(e) {
            if(typeof marker !== "undefined") { marker.setMap(null); }
		  
		    marker = new google.maps.Marker({
			    position: e.latLng,
			    map: map
		    });

            infowindow.open(map, marker);
            
	        marker.addListener('click', function(){
				lat=marker.position.lat();
				lng=marker.position.lng();
				socket.emit('newRoom', Math.floor(lat*100)/100+";"+Math.floor(lng*100)/100);
            });
            map.setCenter(marker.latLng);
		}
    }

</script> 
